<launch>
  <!-- Launch the landing_base_only.urdf -->

  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="model_name" default="landing_base" />
  <arg name="enable_rviz" default="false" />

  <!-- Loading the urdf model now and uploading it to the param server -->
  <param name="robot_description" command="cat '$(find moving_platform)/description/$(arg model_name).urdf'"/>

  <!-- Spawning the urdf model into the gazebo world that we have created -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model platform -param robot_description -y $(arg y) -x $(arg x) -z $(arg z)" output="screen" /> 

  <!-- Load the robot_states_publisher in order to publish the tf transforms between the links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="False" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find moving_platform)/config/platform_rviz.rviz" if="$(arg enable_rviz)" />
  
</launch>